@media only screen and (min-width: 32.5em) {
    header{
        display: block;
        margin:0;
    }
    header img{
        width:7em;
        display:flex;
        float: left;
    }
  nav button {
    display: none;
  }
  nav ul li{
    border: none;
  }
  nav ul li a {
    border: none;
    padding: 0.8rem 1rem;
    display: block;
  }

  nav ul.hide {
    display: flex;
  }
  nav {
    background-color: #F7F052;
    border-style: solid;
    border-color: #471441;
    text-align: center;

}
main {
    display:grid;
}
.banner-box {
    height: 300px;
    max-width: 950px;
    padding: 2em;
}
.contactinfobox {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:2em;
}
#googlemap img{
  display: block;
  width: 150px;
  height: 150px;
  }
#googlemap {
  grid-column: 1;
  padding-top: 1em;
  align-content: center;
}
.social{
  grid-column:3;
  padding-top: 3em;
}

.contact {
  grid-column: 2;
  font-size: 1.5em;
}

.weeklyforecast{
  display: block;
}
table{
  width: 90%;
  border: 1px solid;
  border-collapse: collapse;
  margin: auto;
  }
th{
  background-color: #f7f29d;
}
tr,
th{
  border: 1px solid;
  border-collapse: collapse;
}
td{
  text-align: center;
  border: 1px solid;
}


}
