body {
    max-width: 750px;
    font-size: 1rem;
    margin: auto;
    padding: 0.2rem;
    font-family: 'Ubuntu', sans-serif;

}
header,
footer {
    background-color: #197BBD;
    text-align: center;
    color:#fff;
    padding: .2rem;
    border-style: solid;
    border-color: #471441;
    font-family: 'Vollkorn', serif;
}
h1 {
    text-align: center;
}
img {
    float: left;
    align-items: center;
    width: 75px;
}
nav {
    background-color: #F7F052;
    text-align: center;
    border-style: solid;
    border-color: #471441;
    display: block;
}
nav ul li{
    list-style-type: none;
    margin: auto;
    padding: 0.3rem;
}
nav ul li a {
    color:  #471441;
    font-weight: bold;
    font-size: 0.95rem;
    text-shadow: 3px 3px 10px #fff;
}
main{
    max-width: 750px;
    display: grid;
}

main section img {
    width: 200px;
    height: auto;
}
:root {
    --primary-color: #197BBD;
    --secondary-color: #F7F052;
    --accent1-color: #471441;
    --accent2-color: #F28123;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.colors th {
    background-color: #999
}

.colors td {
    width: 25%;
    height: 3em
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
    color: #fff;
}

.accent2 {
    background-color: var(--accent2-color);
}

main.fontfamily1{
    font-family: 'Ubuntu', sans-serif;
}
main.fontfamily2{
    font-family: 'Vollkorn', serif;
}