body {
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  width: auto;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 1rem;
  border-bottom: 1px solid #999;
  margin-bottom: 0.5rem;
  font-family: "Lato", sans-serif;
}

header img {
  width: 200px;
  height: auto;
}
header,
footer {
  background: #213bad;
  padding: 1.25rem;
  margin: 0 auto;
  text-align: center;
  color: white;
}

#currentdate {
  color: white;
}
a:link {
  color: #213bad;
}
a:visited {
  color: #fd0202;
}
a:hover {
  color: #002255;
}
main {
  display: grid;
}
main section {
  margin: 0 2rem 2rem 2rem;
  text-align: center;
  padding-bottom: 1em;
}

main section img {
  border-style: solid;
  border-color: black;
  width: 100%;
}
section h2 {
  border: none;

}
section p{
  font-size: 0.75rem;
}

