body {
  width:100%;
  font-size: 1rem;
  margin: auto;
  font-family: "Vollkorn", serif;
}
header {
  background-color: #197bbd;
  color: #fff;
  border-style: solid;
  border-color: #471441;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  display: flex;
}
footer {
    background-color: #197bbd;
    color: #fff;
    border-style: solid;
    border-color: #471441;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


.banner-box {
  margin: 10px auto;
}
.banner-box img{
  width: 100%;
  height: 350px;
  padding-bottom: 1em;
}
h2{
  text-align: center;
}
h3{
  padding: 0.5em;
  text-align: center;
}
img {
  align-items: center;
  width: 100px;
  height: 100px;
}
.headerfix {
  grid-column: 2;
  text-align: center;
}

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #471441;
  padding: 2.0em 0.5em 0.5em 0.5em;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;


}
nav ul li {
  list-style-type: none;
  margin: auto;
  padding: 0.3rem;
  background-color: #F7F052;
}
nav ul li a {
  color: #471441;
  font-weight: bold;
  font-size: 0.75rem;
  text-shadow: 3px 3px 10px #fff;
  padding: 0.8rem 2%;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul li .active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul.hide {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

main {
  margin: 10px auto;
  padding: 0;
  display: block;
}
.weeklyforecast{
    background-color: #F7F052;;
    padding: 2em;
    margin: 2em 0 2em 0;
}

main section {
    background-color: #F7F052;
    padding: 1em;
    margin: 2em 0 0 0;
    border-style: solid;
    border-color: #471441;
}


main.fontfamily1 {
  font-family: "Ubuntu", sans-serif;
}
main.fontfamily2 {
  font-family: "Vollkorn", serif;
}
.social {
    text-align: right;
    padding: 1em 3em 0 0;
}

.social img {
    width: 50px;
    height: auto;
}
footer a:link {
  color: #000;
}
footer a:visited {
  color: #F28123;
}
footer a:hover {
  color: #fff;
  
}

