body {
    max-width: 950px;
    font-size: 1rem;
    margin: auto;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-family: 'Vollkorn', serif;
}
header,
footer {
    background-color: #197BBD;
    color:#fff;
    border-style: solid;
    border-color: #471441;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
}
.banner-box{
    height: 350px;
    max-width: 950px;
    padding: 2em;

}
.banner-box img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} 

img {
    grid-column: 1;
    align-items: center;
    width:7em;
    padding: 2em 0;
}
.headerfix {
    grid-column: 2;
    text-align: center;
    
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size:1.6rem;
    color:#471441;
    grid-column: 3;
    padding: 2.5em 0;
    }
nav ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}
nav ul li{
    list-style-type: none;
    margin: auto;
    padding: 0.3rem;
}
nav ul li a {
    display: flex;
    color:  #fff;
    font-weight: bold;
    font-size: 0.75rem;
    text-shadow: 3px 3px 10px #471441;
    padding: .8rem 2%;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul li .active a {
    background-color: rgba(0, 0, 0,0.2);
    color: #fff;

}

nav ul.hide{
    display:none;
}



.clearfix:after {
    content:"";
    display:table;
    clear:both;
}




main{
    max-width: 750px;
    display: grid;
}

main section img {
    width: 200px;
    height: auto;
}



main.fontfamily1{
    font-family: 'Ubuntu', sans-serif;

}
main.fontfamily2{
    font-family: 'Vollkorn', serif;
}