@media only screen and (min-width: 64em) {
    .social img{
        width:50px;
    }

    .activities h3 {
        padding:3em;
    }    
    .activities p {
        padding-right:15px;
        text-align: center;
      }
    .municipality {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .homeinfo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        margin: .1em

    }
    article {
        margin: 0 auto;
        display: block;
    }
  
    article img{
        grid-row: 2;
        width: 60%;
        margin: 0 auto;
        padding: 1px;
    }
    article:nth-child(odd) .data {
        grid-column: 2;
        grid-template-columns: 0;
        grid-row: 1;
        text-align: center;
        padding-top: 5em;
    }
    .pic {
        text-align: center;
    }
    article:nth-child(odd){
        width: 90%;
        padding: 0;
        display: block;
    }
    article:nth-child(odd) img{
        grid-row: 2;
        width: 90%;
        margin: 0 auto;
        padding: 1px;
        }

    header { 
        font-size:1.5rem;
    }
}
