@media only screen and (min-width: 32.5em) {
  header{
      display: block;
      font-size: 1rem;
  }
  header img{
      width:112px;
      height: 112px;
  }
nav button {
  display: none;
}
nav ul li{
  border: none;
}
.SodaEvents{
  width:50%;
}
nav ul li a {
  border: none;
  padding: 0.8rem 1rem;
  display: block;
}

nav ul.hide {
  display: flex;
}
nav {
  background-color: #E0AFA0;
  border-style: solid;
  border-color: #463F3A;
  text-align: center;

}
main {
  display:grid;
}
.banner-box {
  height: auto;
  width: 100%;
  position: relative;
}

.weeklyforecast{
display:block;
}
.weathersummary{
position:absolute;
display: inline;
left: 50px;
top: 30px;
padding: 0.5em;
border: 0.5px solid #471441;
background-color: #197bbd;
box-shadow: 0 0 5px #197bbd;
opacity: 0.8;
text-align: left;


}
.weathersummary h3 {
margin: 0.1em;
color: #471441;
font-weight: bolder;
font-size: 1.1em;
text-decoration: underline;
}
.weathersummary p {
margin: 0;
color: #fff;
font-weight: 500;

}
main section {
display: block;
}
.summaryset {
display:inline;
}
.activities p {
padding-right:15px;
text-align: left;
}
.activities img{
float: right;
}
.contactinfobox {
display: inline-flex;
text-align: center;

}
#googlemap img{
display: block;
width: 150px;
height: 150px;
}
#googlemap {
padding-top: 1em;
margin: 1em auto;
}
.social{
padding-top: 3em;
margin: 1em auto;
}

.contact {
grid-column: 1;
font-size: 1.5em;
margin:1em auto;
}

table{
width: 90%;
border: 1px solid;
border-collapse: collapse;
margin: auto;
}
th{
background-color: #463F3A;
}
tr,
th{
border: 1px solid;
border-collapse: collapse;
}
td{
text-align: center;
border: 1px solid;
}
td img {
height: 48px;
width: 48px;
padding: 20px;
}
.gallery {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 2rem;
text-align: center;

}
article {
display: grid;
grid-template-columns: 1fr 1fr;
box-shadow: 3px 3px 3px #197bbd;
margin: 2rem;
}

article img {
width:300px;
padding:4em 1em;
border-radius: 25px;
}
article:nth-child(odd) {
background-color: #84aac4;
box-shadow: 3px 3px 3px #F7F052;
border-radius: 25px;
}
article:nth-child(odd) img {
grid-column: 2;
}
.data {
padding: .1em;
text-align: center;
float:right;
}
article:nth-child(odd) .data {
grid-column: 1;
grid-row: 1;
}

}
