body {
  width:100%;
  background-color: #F4F3EE;
  font-size: 1rem;
  margin: auto;
  font-family: "Vollkorn", sans-serif;
 
}
#freefinancialclass {
  background-color: #BCB8B1;
  text-align: center;
  
}
#freefinancialclass p {
  margin:0;
  padding: 1em;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  }

header {
  background-color: #463F3A;
  color: #fff;
  border-style: solid;
  border-color: #463F3A;
  font-family: "Fredoka One", sans-serif;
  text-align: center;
  display: flex;
  margin: 0 auto;
}
header img {
    width:56px;
    height:56px;
}
footer {
    background-color: #463F3A;
    color: #fff;
    border-style: solid;
    border-color: #E0AFA0;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.banner-box {
  margin:  auto;
}
.banner-box img {
  width:100%;
}
h2{
  text-align: center;
}
h3{
  padding: 0.5em;
  text-align: center;
}
.activities img {
  align-items: center;
  width: 100px;
  height: 100px;
}
.headerfix {
  grid-column: 2;
  text-align: center;
}

nav button {
  margin: 0.2rem 2%;
  background-color: #463F3A;
  border: 1px solid;
  font-size: 2rem;
  color: #E0AFA0;
  border-radius: 0.20em;
  
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid;


}
.bottom {
  background-color: #463F3A;
  border: 1px solid;
}
nav ul li {
  list-style-type: none;
  margin: auto;
  padding: 0.3rem;
  background-color: #E0AFA0;
  border-bottom: 1px solid;
}
.active {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
}
.activities img{
  width:50%;
  height:auto;
  margin: 0 auto;
  padding:1em;

}
nav ul li a {
  color: #463F3A;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 3px 3px 10px #463F3A;
  padding: 0.8rem 2%;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.weathersummary{
  padding: 0;
  margin: 0;
  background-color: #E0AFA0;
  color: #463F3A;
  text-align: center;
  opacity: 0.9;
}
.weathersummary h3{
  color:#463F3A;
  font-size: 1.1em;
  margin: 0 auto;
  padding-bottom: 8px;
}
.weathersummary p {
  padding: 5px;
  margin: 0 auto;
}
.PaceEvents{
  display:flex;
  flex-direction: column;
  margin: 2rem auto;
  width:100%;
  align-items: center;
  background-image: linear-gradient(to bottom right, #BCB8B1, #E0AFA0);
  border: 2px solid #000;
}

nav ul.hide {
  display: none;
}

.joinus {
  width: 100%;
  margin: 0 auto;
  background-color: #BCB8B1;
  text-align: center;
  padding: 1rem;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

main {
  margin: auto;
  padding: 0;
  display: block;
}
.board {
  text-align: center;
}

.weeklyforecast{
    display:none;
}

main section {
    background-color: #463F3A;
    padding: 1em;
    margin: 2em 0 0 0;
    border-style: solid;
    border-color: #BCB8B1;
    display: grid;

}
.contactinfobox {
  background-color: #463F3A;
  padding: 1em;
  margin: 2em 0 0 0;
  border-style: solid;
  border-color: #BCB8B1;
  color: #fff;
}
.paceinfo{
  max-width: 90%;
  margin:  .5em auto;
  display: block;
  padding: .5em 0;

}
.bestofbest {
  text-align: left;
  background-color: #BCB8B1;
  color:#463F3A;
  padding: 1em;
}
main.fontfamily1 {
  font-family: "Ubuntu", sans-serif;
}
main.fontfamily2 {
  font-family: "Vollkorn", serif;
}


.social img {
    width: 25px;
    height: auto;
}
footer {
  color: #fff;
}
footer a:link {
  color: #000;
}
footer a:visited {
  color: #d151c2;
}
footer a:hover {
  color: #fff;
  
}
#googlemap img{
  display:none;
}


.summaryset {
  display:flex;
}
.municipality {
  display: block;
  padding-bottom: 15px;
  text-align: center;
}
.gallerypics img:hover {
  box-shadow: 2px 2px 20px #BCB8B1;

}

.perks {
  text-align: center;
  background-color: #E0AFA0;
  color: #463F3A;
  padding: 2em;
}

.membership{
  display:block;
  padding-top: 1rem;
}
input:required{
  border-left: red solid 6px;
}
input[type=text] {
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:required:valid{
  border-left: green solid 6px;
}
#comments {
  height: 100px;
  width: 300px;
}

article {
  margin: .5rem;
  width: 90%;
  padding: 10px;
  border: 1px solid;
  background-color: #BCB8B1;
  display: block;
  border-radius: 25px;
  text-align: center;
}

article img {
  width:90%;
  padding:.3em 1em;
  border-radius: 25px;
}
article:nth-child(odd) {
	flex-direction: row-reverse;
  background-color: #E0AFA0;
  border-radius: 25px;
}
.data {
  padding: 3em 2em;

}
.data h3{
  padding-top: 5px;
}
#home {
  text-align: center;
}

#current_weather {
  text-transform: capitalize;

}
.pic img{
  width: 90%;
  margin: 0 auto;
}