body {
    font-family: Ubuntu, sans-serif;
    width: 50%;
    margin: auto;
    padding-top: 20px;
}
table,
tr,
td {
   border: 1px solid rgb(187, 186, 186);
   text-align: center;
}

table {
    box-shadow: 5px 5px 10px #628ca6;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}

thead tr{
    height: 50px;
    background-color: #7fb9c2;
    font-weight:bolder;
    font-size: 1.5rem;
}
tfoot tr td{
    background-color: #7fb9c2;
    font-size: 10px;
}
tr {
    background-color: #e7ffed;
}
tbody tr:first-child{
    background-color: #628ca6;
    color: white;
    font-weight: bold;
    
}
tr:nth-child(even){
    background-color: #e7f0ed;
}
td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.novembersalesgoal {
    background-color: #628ca6;
    color: white;
}
